<div id="<%= dom_id kitten %>">
  <h2><%= kitten.name %></h2>
  <ul>
    <li>Age: <%= kitten.age %></li>
    <li>Cute?: <%= kitten.cuteness %></li>
    <li>Soft?: <%= kitten.softness %></li>
  </ul>
</div>
